aiohttp
aiosignal
asgiref
async-generator
async-timeout
attrs
boto
botocore
certifi
charset-normalizer
click
cycler
dj-database-url
Django
django-cors-headers
django-storages-redux
exceptiongroup
frozenlist
gensim
gunicorn
h11
idna
importlib-metadata
jmespath
joblib
kiwisolver
matplotlib
multidict
nltk
numpy
openai
outcome
packaging
pandas 
patsy
Pillow
psycopg2-binary
pycparser
pyparsing
PySocks
python-dateutil
pytz
regex
requests
s3transfer
scikit-learn
scikit-posthocs
scipy
seaborn
selenium
six
sklearn
smart-open
sniffio
sortedcontainers
sqlparse
statsmodels
threadpoolctl
tqdm
trio
trio-websocket
trueskill
typing-extensions
urllib3
wsproto
yarl
yellowbrick
zipp
